﻿<div class="col-md-12">
    <div class="box border">
        <div class="box-title">
            <h4>Add User</h4>
        </div>
        
        <div class="box-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" ng-model="user.name" class="form-control" placeholder="Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" id="email" ng-model="user.email" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="userName" ng-model="user.userName" class="form-control" placeholder="User Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-grey" ng-click="addUser()">Add User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>