﻿
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="clearfix">
                <h3 class="content-title pull-left" style="text-transform: uppercase;">Add Vendor</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box border">
                    <div class="box-title">
                        <h4 ng-show="isNewAgent"><i class="fa fa-user"></i>Add agent</h4>
                        <h4 ng-hide="isNewAgent"><i class="fa fa-user"></i>Update agent</h4>
                        <h4 class="pull-right"><i class="fa fa-bars"></i><a ui-sref="searchagents">Search agents</a></h4>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputAgentName" class="col-sm-2 control-label">Agent Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAgentName" placeholder="Agent Name" ng-model="agent.agentName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAgentPhone" class="col-sm-2 control-label">Agent Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAgentPhone" placeholder="Agent Phone" ng-model="agent.agentPhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAgentEmail" class="col-sm-2 control-label">Agent Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputAgentEmail" placeholder="Agent Email" ng-model="agent.agentEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCompanyName" class="col-sm-2 control-label">Company Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" ng-model="agent.companyName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCompanyAddress" class="col-sm-2 control-label">Company Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCompanyAddress" placeholder="Company Address" ng-model="agent.companyAddress">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" ng-click="addAgent()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


