<style>
    .fa {
        padding-right: 8px;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="clearfix">
                <h3 class="content-title pull-left" style="text-transform: uppercase;">Manage Vendor</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box border">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li ng-class="{ 'active': $state.includes('agent.updateprofile') }">
                                        <a data-ui-sref-active="active" data-ui-sref=".updateprofile" data-toggle="tab">
                                            <i class="fa fa-home"></i>Agent Profile
                                        </a>
                                    </li>
                                    <li ng-class="{ 'active': $state.includes('agent.communication')}">
                                        <a data-ui-sref-active="active" data-ui-sref="agent.communication" data-toggle="tab">
                                            <i class="fa fa-phone"></i>Communication
                                        </a>
                                    </li>
                                    <li ng-class="{active:$state.includes('agent.documents')}">
                                        <a ui-sref-active="active" ui-sref=".documents" data-toggle="tab">
                                            <i class="fa fa-envelope"></i> Documents
                                        </a>
                                    </li>
                                    <li ng-class="{active:$state.includes('agent.history')}">
                                        <a ui-sref-active="active" ui-sref=".history" data-toggle="tab">
                                            <i class="fa fa-bars"></i>History
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div data-ui-view></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






