﻿<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Schedule the Call/Meeting</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Title</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="schedule.title" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Sales Rep</label>

                            <div class="col-sm-9">

                                <select class="form-control"
                                        ng-options="i.name for i in salesPersons"
                                        ng-model="schedule.salesPerson"
                                        >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Date</label>

                            <div class="col-sm-9">
                                <input type="date" class="form-control" placeholder="Date"
                                       value="2015-08-23" ng-model="schedule.date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Time</label>

                            <div class="col-sm-9">
                                <input type="time" class="form-control" placeholder="Time"
                                       value="12:17"
                                       ng-model="schedule.time"
                                        >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Address</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputAgentName" placeholder="Address"
                                       ng-model="schedule.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Notes</label>

                            <div class="col-sm-9">
                                <textarea class="form-control"
                                          ng-model="schedule.notes"
                                          rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="padding-top: 0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveSchedule()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade in">
    <div class="divide-10"></div>

    <div class="pull-right">
        <button class="btn btn-primary" ng-click="schedulePopUp()"><i class="fa fa-calendar-o"></i> Schedule Meeting
        </button>
        <button class="btn btn-success" ng-click="schedulePopUp()"><i class="fa fa-phone"></i> Schedule Call</button>
    </div>

    <div>
        <h3>Planned</h3>

        <table class="table">
            <thead>
            <tr>
                <td>Date</td>
                <td>Time</td>
                <td>Agent</td>
                <td>Sales Rep</td>
                <td>Address</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in schedules">
                <td> {{ i.date }}</td>
                <td> {{ i.time }}</td>
                <td> {{ i.vendor.agentName }}</td>
                <td> {{ i.salesPerson.name }}</td>
                <td> {{ i.address }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Past</h3>

        <table class="table">
            <thead>
            <tr>
                <td>Date</td>
                <td>Time</td>
                <td>Agent</td>
                <td>Sales Rep</td>
                <td>Address</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in schedules">
                <td> {{ i.date }}</td>
                <td> {{ i.time }}</td>
                <td> {{ i.vendor.agentName }}</td>
                <td> {{ i.salesPerson.name }}</td>
                <td> {{ i.address }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


