﻿<div class="modal" id="document-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add or Edit Document</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Document Name</label>
                            <div class="col-sm-9">
                                <input ng-model="document.title" type="text"
                                       class="form-control" id="inputAgentName"
                                       placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="document.type"
                                        ng-options="i for i in types"
                                        >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="document.status"
                                        ng-options="i for i in statuses"
                                        >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-9">
                                <textarea ng-model="document.notes" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgentName" class="col-sm-3 control-label">Upload Documents</label>
                            <div class="col-sm-9">
                                <div class="drop-box"
                                     drag-over-class="{accept:'nv-file-over', reject:'dragover-err', delay:100}"
                                     ng-file-drop
                                     ng-model="files"
                                     multiple="true"
                                     allow-dir="true"
                                     hideondropnotavailable="true">

                                    <!--accept="image/*,application/pdf,doc,"-->

                                    <div class="drag-hide">
                                        <button ng-file-select ng-model="files" multiple="true" class="btn btn-primary" style="z-index: 99999">
                                            BROWSE FILES
                                        </button>

                                        <span data-ng-hide="files && files.length > 0">OR</span>
                                    </div>

                                    <div class="drag-text">
                                        <button class="btn btn-primary">
                                            <h1> Drag & Drop Images </h1>
                                        </button>
                                    </div>

                                    <div class="drag-box drag-hide" data-ng-hide="files && files.length > 0">
                                        <h4> Drag  & drop files </h4>
                                    </div>

                                    <div ng-no-file-drop>File Farg/Drop is not supported for this browser</div>

                                    <div class="drag-hide">
                                        <table class="table table-striped" data-ng-show="files && files.length > 0">
                                            <thead>
                                                <tr>
                                                    <th width="30%">Name</th>
                                                    <th ng-show1="uploader.isHTML5">Size</th>
                                                    <th width="30%" ng-show="uploader.isHTML5">Progress</th>
                                                    <th class="text-center">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in files">
                                                    <td>
                                                        <div><strong>{{ item.name }}</strong></div>
                                                        <div ng-show1="uploader.isHTML5" ng-thumb="{ file: item, height: 100 }"></div>
                                                    </td>
                                                    <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>
                                                    <td>
                                                        <div class="progress progress-striped active" style="margin-bottom: 0;" ng-show="item.status == 0">
                                                            <div class="bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                        <div ng-show="item.status == 9">
                                                            <i class="icon-ok" style="color: green;"></i> Done
                                                        </div>
                                                    </td>
                                                    <td class="text-center"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="padding-top: 0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveDocument()">Save & Upload Documents</button>
            </div>
        </div>
    </div><
</div>

<div class="tab-pane fade in">
    <div class="divide-10"></div>

    <div class="pull-right">
        <button class="btn btn-primary" ng-click="uploadPopUp()"><i class="fa fa-envelope"></i> Add New Document</button>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Notes</td>
                    <td>Category</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in documents">
                    <td> <a href="uploads/{{i.name}}" target="_blank"> {{i.originalname}} </a></td>
                    <td> Uploaded</td>
                    <td> {{i.notes}}</td>
                    <td> {{i.type}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteDocument(i._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="box-body">






        </div>
    </div>
</div>

