﻿<div class="tab-pane fade in">
    <div class="divide-10"></div>

    <div class="box-body">
        <div class="alert alert-block alert-info fade in">
            <h4>Sumanta Sarkar: 10 March 2015 10:15 AM</h4> 
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od 
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od 
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od 
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od 
            fermentum.
        </div>
        
        <div class="alert alert-block alert-success fade in">
            <h4>Nikhil Kaluskar: 10 March 2015 10:15 AM</h4>
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od
            and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia od
            fermentum.
        </div>
    </div>

</div>