﻿
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="clearfix">
                <h3 class="content-title pull-left" style="text-transform: uppercase;">Search Vendor</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Search Vendor...">
            </div>

            <div class="form-group col-sm-4 pull-right">
                <div class="col-sm-9 pull-right">
                    <select class="form-control">
                        <option value="1">New</option>
                        <option value="1">Reviewed</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group col-sm-4 pull-right">
                <button class="btn btn-default" ui-sref="addagent">Add New</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box border blue">
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Agent Name</th>
                                    <th>Agent Phone</th>
                                    <th>Agent Email</th>
                                    <th>Company Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="agent in agents">
                                    <td><a ui-sref="agent.updateprofile ({agentId : agent._id})">{{agent._id}}</a></td>
                                    <td><a ui-sref="agent.updateprofile ({agentId : agent._id})">{{agent.agentName}}</a></td>
                                    <td>{{agent.agentPhone}}</td>
                                    <td>{{agent.agentEmail}}</td>
                                    <td>{{agent.companyName}}</td>
                                    <td>
                                        <div class="btn-group dropdown">
                                            <button class="btn btn-primary">Action</button>
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a ui-sref="agent.communication ({option : 'newschedule'})">Log a call/meeting</a></li>
                                                <li><a ui-sref="agent.documents ({agentId : agent.id})">Upload document</a></li>
                                                <li><a ui-sref="agent.updateprofile ({agentId : agent.id})">Update Profile</a></li>
                                                <li><a ui-sref="agent.history ({agentId : agent.id})">View History</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




