﻿<div class="tab-pane fade in">
    <div class="divide-10"></div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputAgentName" class="col-sm-2 control-label">Agent Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAgentName" placeholder="Agent Name" ng-model="agent.agentName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAgentPhone" class="col-sm-2 control-label">Agent Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAgentPhone" placeholder="Agent Phone" ng-model="agent.agentPhone">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAgentEmail" class="col-sm-2 control-label">Agent Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputAgentEmail" placeholder="Agent Email" ng-model="agent.agentEmail">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCompanyName" class="col-sm-2 control-label">Company Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" ng-model="agent.companyName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCompanyAddress" class="col-sm-2 control-label">Company Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCompanyAddress" placeholder="Company Address" ng-model="agent.companyAddress">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-grey" ng-click="updateAgent()">Save</button>
                <button type="submit" class="btn btn-grey" ng-click="deleteAgent()" ng-hide="isNewAgent">Delete</button>
            </div>
        </div>
    </form>
</div>