﻿.drop-box {
  /*position: absolute;*/
  width: 80%;
  height: 92%;
  z-index: 1;
}
.drop-box .drag-text {
  width: 50%;
  margin: 10% 10%;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}
.drop-box .drag-text button {
  font-weight: bold;
  padding: 40px 80px 40px 80px;
  text-transform: uppercase;
}
.drop-box .drag-text button h1 {
  color: white;
}
.nv-file-over {
  z-index: 9;
  background-color: white;
}
.nv-file-over .drag-text {
  display: block;
}
.nv-file-over .drag-hide {
  display: none;
}
.drag-box {
  border: 4px dotted #2c3e50;
  padding: 40px;
  text-align: center;
  margin: 30px 0;
  /*width: 60%;*/
  text-transform: uppercase;
}
.drag-box h4 {
  font-size: 25px;
}