﻿
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <div class="clearfix">
                <h3 class="content-title pull-left">Dashboard</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">

        <div class="row">
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Search Vendor...">
            </div>
            <div class="col-xs-2">
                <input type="date" class="form-control" placeholder="">
            </div>

            <div class="form-group col-sm-4">
                <!--<label class="col-sm-3 control-label">Selects</label>-->
                <div class="col-sm-9">
                    <select class="form-control">
                        <option value="1">John G</option>
                        <option value="1">Rob J</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="margin-top: 40px;">
            <table class="table">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Agent</td>
                        <td>Sales Rep</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 11 Mar 2015</td>
                        <td> <a ui-sref="agent.history({ agentId: 1 })">Nepal Travel Ltd</a> </td>
                        <td> John G</td>
                        <td> Document Verified</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- <div class="row">
	<div class="col-md-12">
		<div class="quick-pie panel panel-default">
			<div class="panel-body">
				<input type="text" ng-Model="percentage">{{percentage}}
				<trp-pie-chart config="chart1"></trp-pie-chart>
				<trp-pie-chart config="chart2"></trp-pie-chart>				
			</div>
		</div>
	</div>
</div> -->