
<div clas="tab-pane fade in">
<h2 class="bigintro">Sign In</h2>
<div class="divide-40"></div>
<!--form role="form"-->
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <i class="fa fa-envelope"></i>
        <input type="email" ng-model="user.username" id="exampleInputEmail1" >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <i class="fa fa-lock"></i>
        <input type="password" ng-model="user.password"  id="exampleInputPassword1" >
    </div>
    <div>
        <label class="checkbox"> <input type="checkbox" class="uniform" value=""> Remember me</label>
        <button type="button" class="btn btn-danger" ng-click="login">Submit</button>
    </div>
<!--/form-->
<!-- SOCIAL LOGIN -->
<div class="divide-20"></div>
<div class="center">
    <strong>Or login using your social account</strong>
</div>
<div class="divide-20"></div>
<div class="social-login center">
    <a class="btn btn-primary btn-lg">
        <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-info btn-lg">
        <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-danger btn-lg">
        <i class="fa fa-google-plus"></i>
    </a>
</div>
<!-- /SOCIAL LOGIN -->
<div class="login-helpers">
    <a href="#" onclick="swapScreen('forgot_bg');return false;">Forgot Password?</a> <br>
    Don't have an account with us? <a href="#" onclick="swapScreen('register_bg');return false;">Register
    now!</a>
</div>
</div>