<div class="col-md-4 text-center">
	<div id="c1" class="piechart">
		<span class="percent">{{config.percentage}}</span>
		<canvas height="110" width="110"></canvas>
	</div>
	<a href="#" class="title"><span style="color:{{config.colour}}">{{config.label}}</span><i class="fa fa-angle-right"></i></a>
</div>