﻿<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <ul>
            <li data-ng-class="{ active : $state.includes('dashboard') }">
                <a ui-sref="dashboard">
                    <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li class="has-sub" data-ng-class="{ active : isAgentPages() }">
                <a href="javascript:;" class="">
                    <i class="fa fa-users fa-fw"></i> <span class="menu-text">Manage Agents</span>
                    <i class="fa fa-sort-down fa-fw pull-right"></i>
                </a>
                <ul class="sub">
                    <li ng-class="{active: $state.includes('addagent')}">
                        <a class="" ui-sref="addagent">
                            <span class="sub-menu-text">Add</span>
                        </a>
                    </li>
                    <li ng-class="{active: $state.includes('searchagents')}">
                        <a class="" ui-sref="searchagents">
                            <span class="sub-menu-text">
                                Search
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>